<!DOCTYPE html>
<html class="height100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="minimal-ui,initial-scale=1,user-scalable=no, width=device-width">
    <title>涨8-股票盈利助推器|股票配资|涨八</title>
    <meta name="keywords" content="股票配资,#{WEB_CN},涨八,配资平台,免费配资,#{WEB_CN}官网,涨八官网,股票杠杆,杠杆炒股">
    <meta name="description" content="（一）按天操盘，灵活建仓，高效利用资金（二）灵活放大操盘资金，无需抵押担保，放大您的盈利（三）资金银行托管，券商保障交易，专业风控把关。">
    <link rel="stylesheet" href="../../css/app/about.css">
    <script src="../../js/lib/ng-lib.js"></script>
    <script src="../../js/lib/ng-util.js"></script>
    <script src="../../js/commonAPI/commonAPI.js"></script>
    <script src="../../js/app/aboutus.js"> </script>
  </head>
  <body class="height100">
    <div class="about-wrap" ng-app="zhang8Aboutus" ng-controller="aboutusController">
      <div class="title">关于涨8介绍</div>
      <ul>
        <li class="clearfix" ng-click="tab1()">
          <div class="problem">我们是谁？</div><i class="icon-more1 arrow-right" ng-hide="content1"></i><i class="icon-moreunfold arrow-right" ng-show="content1"></i>
          <div class="describe" ng-show="content1">涨8是在线股票交易的工具，为短线股票用户提供灵活、低成本资金。炒股用户只需提供少量保证金，即可获得3-10倍的实盘资金，提供同比例缩放合约服务，根据行情灵活建仓，资金梯次配置，高效灵活的运用资金。</div>
        </li>
        <li class="clearfix" ng-click="tab2()">
          <div class="problem">为什么选择我们？</div><i class="icon-more1 arrow-right" ng-hide="content2"></i><i class="icon-moreunfold arrow-right" ng-show="content2"></i>
          <div class="describe" ng-show="content2">
            <p>配资最高体验 — 安全，灵活、省钱又省心！</p>
            <p>六大优势：</p>
            <p>门槛低：100元体验，无需排队，无证券资产限制。</p>
            <p>低费用：超低利息，更有积分商城可以兑换物品。</p>
            <p>高杠杆：3-10倍杠杆，低至9.09%保证金。</p>
            <p>周期灵活：按天/周/月/免息配资，随时入金回撤。</p>
            <p>高效快速：资金秒到账，立即可操盘。</p>
            <p>安全可靠：资金第三方银行托管，独立账户，专业风控把控。</p>
          </div>
        </li>
        <li class="clearfix" ng-click="tab3()">
          <div class="problem">我们有什么独家特色？</div><i class="icon-more1 arrow-right" ng-hide="content3"></i><i class="icon-moreunfold arrow-right" ng-show="content3"></i>
          <div class="describe" ng-show="content3">
            <p>灵活建仓，随时同比例缩放合约，高效利用资金。</p>
            <p>想加仓时选择放大合约再获资金入市，最大程度扩大盈利；想减仓时可以选择缩小合约，还掉部分借款金额或全部金额，降低配资成本，高效利用资金。</p>
            <p>在行情不好的时候，为避免被平仓，您可以减部分仓位然后缩小合约，平仓线会相应下降来保护自己不爆仓；行情上扬的时候，您可以选择放大合约获得抄底资金，锁定盈利。</p>
          </div>
        </li>
        <li class="clearfix" ng-click="tab4()">
          <div class="problem">如何操作？</div><i class="icon-more1 arrow-right" ng-hide="content4"></i><i class="icon-moreunfold arrow-right" ng-show="content4"></i>
          <div class="describe" ng-show="content4">下载—注册—了解产品（帮助中心）—选择产品—-充值—股票交易/体验活动，如有疑问，选择APP内窗口左上角在线客服，或拨打400-603-0008进行咨询。</div>
        </li>
      </ul>
    </div>
  </body>
</html>