<!DOCTYPE html>
<html class="height100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="minimal-ui,initial-scale=1,user-scalable=no, width=device-width">
    <title>涨停板-股票盈利助推器|股票配资|涨停板</title>
    <meta name="keywords" content="股票配资,#{WEB_CN},涨停板,配资平台,免费配资,#{WEB_CN}官网,涨停板官网,股票杠杆,杠杆炒股">
    <meta name="description" content="（一）按天操盘，灵活建仓，高效利用资金（二）灵活放大操盘资金，无需抵押担保，放大您的盈利（三）资金银行托管，券商保障交易，专业风控把关。">
    <link rel="stylesheet" href="../../css/app/extend.css">
    <script src="../../js/lib/ng-lib.js"></script>
    <script src="../../js/lib/ng-util.js"></script>
    <script src="../../js/commonAPI/commonAPI.js"></script>
    <script src="../../js/app/extend.js"></script>
  </head>
  <body class="height100">
    <div class="wrap-extend" ng-app="Zhangextend" ng-controller="extendController">
      <div class="logo"><img style="display:none;" src="../../images/app/WxShare.jpg"></div>
      <div class="extend-banner"><img src="../../images/extend/head-img.jpg"></div>
      <div class="extned-cont">
        <div class="cont-head"><img class="head-photo" ng-src="{{headerImg}}">
          <div class="user-level" ng-bind="gradeWeight"></div>
          <div class="extend-result"><span class="result-arrow"></span>
            <ul class="clearfix">
              <li><span>成功邀请</span><span class="word-red" ng-bind="successInvite"></span></li>
              <li><span>获得返现</span><span class="word-red" ng-bind="successPayBack"></span></li>
            </ul>
          </div>
          <div class="btn-cont"><a class="btn-extend" ng-click="inviteFriend()">邀请好友赚佣金</a></div><a class="red-link" ng-click="watchExtendDetail()">查看推广明细</a>
        </div>
        <div class="extend-rule">
          <div class="rule-head">推广规则</div>
          <p>自2019年7月10日起邀请新用户来涨停板成功配资操盘（除免费体验外），可获得被邀请人支付管理费的分成返现奖励。</p>
          <p> <span class="title-bold">返现奖励生效条件：被邀请人申请按天、周、月配资，并成功支付管理费</span>（活动产品不参加邀请返现）；</p>
          <p> <span class="title-bold">返现奖励规则：被邀请人成功申请特定的配资合约</span>（按天、周、月配资）</p>
          <p>邀请人均可以获得管理费的返现奖励（抵用券抵扣的管理费和合约退费部分不产生返现奖励）。</p>
          <p class="title-bold">VIP等级特权及条件</p>
          <ul class="grade-list">
            <li>
              <div class="user-level">1</div>
              <div class="list-cont"> <span class="font-red">按天、周配资12%管理费返现</span><span class="font-red">按月配资12%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">小于（含）10万</span></div>
            </li>
            <li>
              <div class="user-level">2</div>
              <div class="list-cont"> <span class="font-red">按天、周配资13%管理费返现</span><span class="font-red">按月配资13%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">10万-30万（含）</span></div>
            </li>
            <li>
              <div class="user-level">3</div>
              <div class="list-cont"> <span class="font-red">按天、周配资14%管理费返现</span><span class="font-red">按月配资14%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">30万-80万（含）</span></div>
            </li>
            <li>
              <div class="user-level">4</div>
              <div class="list-cont"> <span class="font-red">按天、周配资16%管理费返现</span><span class="font-red">按月配资17%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">80万-150万（含）</span></div>
            </li>
            <li>
              <div class="user-level">5</div>
              <div class="list-cont"> <span class="font-red">按天、周配资18%管理费返现</span><span class="font-red">按月配资19%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">150万-300万（含）</span></div>
            </li>
            <li>
              <div class="user-level">6</div>
              <div class="list-cont"> <span class="font-red">按天、周配资20%管理费返现</span><span class="font-red">按月配资21%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">300万-600万（含）</span></div>
            </li>
            <li>
              <div class="user-level">7</div>
              <div class="list-cont"> <span class="font-red">按天、周配资23%管理费返现</span><span class="font-red">按月配资24%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">600万-1000万（含）</span></div>
            </li>
            <li>
              <div class="user-level">8</div>
              <div class="list-cont"> <span class="font-red">按天、周配资26%管理费返现</span><span class="font-red">按月配资27%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">1000万-5000万（含）</span></div>
            </li>
            <li>
              <div class="user-level">9</div>
              <div class="list-cont"> <span class="font-red">按天、周配资29%管理费返现</span><span class="font-red">按月配资30%管理费返现</span><span class="font-gray1">所有被邀请人参与配资的总操盘资金在</span><span class="font-gray2">5000万以上</span></div>
            </li>
          </ul>
          <h1 class="title-bold">返现奖励发放规则</h1>
          <p>系统收到被邀请人支付合约管理费后，下个工作日存入邀请人账户，可直接提取。</p>
          <p class="title-bold">返现奖励有效期说明</p>
          <p>自被邀请人完成涨停板注册之日开始计算，有效期一年。</p>
          <zhang8-Tip error="error">   </zhang8-Tip>
        </div>
      </div>
    </div>
  </body>
</html>